.player {
	&__content {
		display: flex;
		align-items: center;
		margin-top: vw(75);
		margin-bottom: vw(10);
		border-radius: vw(6);
		padding-right: vw(22);
		padding-left: vw(15);
		height: vw(96);
		max-width: vw(640);
		background-color: #f2f2f2;

		@include desktop-xl {
			margin-top: px(75);
			margin-bottom: px(10);
			border-radius: px(6);
			padding-right: px(22);
			padding-left: px(15);
			height: px(96);
			max-width: px(640);
		}

		@include devices {
			flex-wrap: wrap;
			margin-top: vmin(10);
			margin-bottom: vmin(10);
			border-radius: vmin(6);
			padding: vmin(30) vmin(11) vmin(30) vmin(14);
			height: vmin(150);
			max-width: 100%;
		}
	}

	&__rate {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 100%;
		opacity: 0;
		cursor: pointer;
	}

	&__btns {
		position: relative;
		flex-shrink: 0;
		margin-right: vw(16);
		border-radius: 50%;
		width: vw(67);
		height: vw(67);
		background-color: #fff;

		@include desktop-xl {
			margin-right: px(16);
			width: px(67);
			height: px(67);
		}

		@include devices {
			margin-right: vmin(20);
			width: vmin(67);
			height: vmin(67);
		}
	}

	&__btn {
		flex-shrink: 0;
		border: none;
		border-radius: 50%;
		width: vw(67);
		height: vw(67);
		box-shadow: 0 2px 9px rgba(0, 0, 0, 0.08);
		color: #000;
		transition: none;

		&.play,
		&.play-first {
			background: #fff url("../images/sprites/svg/play.svg") no-repeat center center;
			background-size: vw(18);

			@include desktop-xl {
				background-size: px(18);
			}

			@include devices {
				background-size: vmin(18);
			}
		}

		&.pause {
			background: #fff url("../images/sprites/svg/pause.svg") no-repeat center center;
			background-size: vw(20);

			@include desktop-xl {
				background-size: px(20);
			}

			@include devices {
				background-size: vmin(20);
			}
		}

		&.is-active {
			display: none;
		}

		@include desktop-xl {
			margin-right: px(10);
			width: px(67);
			height: px(67);
			background-size: px(18);
		}

		@include devices {
			margin-right: vmin(10);
			width: vmin(67);
			height: vmin(67);
			background-size: vmin(18);
		}
	}

	&__loader {
		position: absolute;
		left: 50%;
		top: 50%;
		width: vw(25);
		transform: translate(-50%, -50%);
		animation: spin 2s linear infinite;

		@include desktop-xl {
			width: px(25);
		}

		@include devices {
			width: vmin(25);
		}
	}

	&__title {
		margin-right: vw(10);
		max-width: vw(100);
		font-weight: 700;
		font-size: vw(11);
		line-height: vw(12);

		@include desktop-xl {
			margin-right: px(10);
			max-width: px(100);
			font-size: px(11);
			line-height: px(12);
		}

		@include devices {
			margin-right: 0;
			max-width: vmin(220);
			font-size: vmin(16);
			line-height: vmin(18);
		}
	}

	&__progress {
		position: relative;
		overflow: hidden;
		border-radius: 6px;
		width: 100%;
		height: vw(4);
		background-color: #c4c4c4;

		@include desktop-xl {
			height: px(4);
		}

		@include devices {
			margin-top: vmin(20);
			height: vmin(4);
		}
	}

	&__timeline {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 0%;
		height: 100%;
		background-color: #00aa70;
	}
}

.player-description {
	margin-top: vw(44);
	margin-bottom: vw(90);
	border-radius: 6px;
	padding: vw(55) vw(98);
	width: 100%;
	max-width: vw(640);
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);

	&__title {
		margin-bottom: vw(42);
		font-weight: 500;
		font-size: vw(18);
		line-height: vw(29);

		@include desktop-xl {
			margin-bottom: px(42);
			font-size: px(18);
			line-height: px(29);
		}

		@include devices {
			margin-bottom: vmin(34);
			font-size: vmin(18);
			line-height: vmin(29);
		}
	}

	&__list {
		font-size: vw(16);

		.part-item {
			margin-bottom: vw(20);
			transition: all 0.3s;
			cursor: pointer;

			@include hover {
				color: $color-sys;
			}

			@include desktop-xl {
				margin-bottom: px(20);
			}

			@include devices {
				margin-bottom: vmin(20);
			}
		}

		@include desktop-xl {
			font-size: px(16);
		}

		@include devices {
			font-size: vmin(16);
		}
	}

	@include desktop-xl {
		margin-top: px(44);
		margin-bottom: px(90);
		padding: px(55) px(98);
		max-width: px(640);
	}

	@include devices {
		margin-top: vmin(44);
		margin-bottom: vmin(90);
		padding: vmin(40) vmin(18);
		max-width: 100%;
	}
}

@keyframes spin {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
