.top-header
  .header-ul
    .li-head.logo
      h3 traffic tech
      //- img.logo(src='./images/logo.jpg' alt='Logo')
    .header-ul-grid-5
      .li-head.token
        span &Tcy;&ocy;&kcy;&iecy;&ncy;
        p
          | &Ncy;&iecy;&acy;&kcy;&tcy;&icy;&vcy;&ncy;&ycy;&jcy;
      .li-head.course
        span &Tcy;&iecy;&kcy;&ucy;&shchcy;&icy;&jcy; &kcy;&ucy;&rcy;&scy;
        p 1 USDT = 90.52317
      .li-head.percent
        span &Vcy;&acy;&shcy;&acy; &scy;&tcy;&acy;&vcy;&kcy;&acy;
        p
          | RUB (
          | 5.5%
          | )
      .li-head.balance
        span &Bcy;&acy;&lcy;&acy;&ncy;&scy;
        p  
          span.available 0 
          |USDT / 
          span.on-hold 0 
          |USDT
      .namee
        .li-head.name
          span &Icy;&mcy;&yacy;:
          p#login  RU-0307
        //- .li-head
        //-   img.ava(src='./Продажа_files/ava.png' style='width:50px; height:50px;' alt='ava')
